.footer * {
    color: white;
}
.footer {
    background-color: #495E57;
    
}
.footer .grid-container{
    grid-template-columns: repeat(4, 1fr);
    
}
.footer ul li:first-of-type {
    font-weight: 600;
    padding-bottom: 1rem;
}
.footer li {
    list-style: none;
}