.footer * {
    color: white;
}
.footer {
    background-color: #495E57;
}
.footer .grid-container{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
#footer-img {
    border-radius: 1rem;
    margin-top: 1rem;
}
.footer ul li:first-of-type {
    font-weight: 600;
    padding-bottom: 1rem;
}
.footer li {
    list-style: none;
}
@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}