.footer * {
    color: white;
}
.footer {
    background-color: #495E57;
}
.footer .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#footer-img {
    border-radius: 1rem;
    margin-top: 1rem;
}
.footer ul li:first-of-type {
    font-weight: 600;
    padding-bottom: 1rem;
}
.footer li {
    list-style: none;
}
.footer .grid-container > ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (max-width: 600px) {
    .footer {
        padding: 1rem 0.5rem;
    }
    .footer .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 1.5rem;
        padding: 1.5rem 0;
    }
    .footer .grid-container > ul {
        padding-top: 0;
    }
    .footer ul {
        margin-bottom: 1rem;
    }
}