.meal-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 0 2px 16px rgba(73, 94, 87, 0.08);
    padding-bottom: 2rem;
}
.meal-item img {
    height: 12.5rem;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin-left: 0;
    margin-right: 0;
}
.meal-item header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
}
.meal-description {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.meal-description a {
    font-weight: bold;
}
@media (max-width: 600px) {
  .meal-item {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  .meal-item img {
    height: 8rem;
  }
  .meal-description p, .meal-description a {
    font-size: 1rem;
  }
}