.meal-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.meal-item img {
    height: 12.5rem;
    object-fit: cover;
}
.meal-description a {
    font-weight: bold;
}
@media (max-width: 600px) {
  .meal-item {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  .meal-item img {
    height: 8rem;
  }
  .meal-description p, .meal-description a {
    font-size: 1rem;
  }
}