.hero {
    background-color: #495E57;
}
.hero .grid-container{
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin-bottom: 10rem;
    grid-auto-flow: column;
}
.hero h1 {
    color: #F4CE14;
}
.hero p {
    color: white;
}
.hero-info, .button-big {
    grid-column: 1;
    display: inline-block;
    margin-top: 2rem;
}
.hero .button-big:hover {
    border-color: #F4CE14;
}

.hero img {
    grid-column: 2;
    object-fit: cover;
    width: 100%;
    height: 24rem;
    justify-self: end;
    margin-bottom: -3rem;
    border-radius: 1rem;
}

@media (max-width: 600px) {
  .hero .grid-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .hero img {
    height: 14rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .hero-info, .button-big {
    margin-top: 1rem;
  }
}