.testimonials {
    padding: 2rem 0;
    background-color: #495E57;
    margin-bottom: 10rem;
}
.testimonials h2 {
    color: white;
}
.testimonials .grid-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 3.5rem;
}
.testimonials header {
    grid-column: 1 / 5;
    grid-row: 1;
}
@media (max-width:600px) {
    .testimonials .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 2rem;
    }
    .testimonials {
        margin-bottom: 3rem;
    }
    .testimonials header {
        grid-column: 1 / 2;
        margin-bottom: 1rem;
    }
}